<h1>Page#new</h1>

<h1 class="bigheader">Create a page</h1>
<%= form_for @page do |form| %>
<% if @page.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@page.errors.count, "error") %> prohibited this post from being saved:</h2>
 
    <ul>
    <% @page.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
	<p>www.flashbulb/</p><%= form.text_field :name, :placeholder => "enter your page address" %><p>.com</p>
	<p>Start Time</p>
	<%= form.datetime_select :start_time %>
	<p>End Time</p>
	<%= form.datetime_select :end_time %>
	<%= form.submit "create" %>
	<% end %>


